# VS Code: track only core settings
Library/Application Support/Code/User/*
!Library/Application Support/Code/User/settings.json
!Library/Application Support/Code/User/keybindings.json
!Library/Application Support/Code/User/snippets/**

# macOS noise
.DS_Store

# Generic
*.swp
*.tmp
